

#box1{
    background-color:rgb(145, 237, 169);
    width:300px;
    height:200px;
    border:ridge;
 color: white;
    margin:10px;
}


#box2{
    background-color:rgb(145, 237, 217);
    width:400px;
    height:100px;
    border:dotted;
    margin:10px;
}
body {
  background-color:rgb(193, 145, 237);
   
}

